/*typography*/
.font-raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
/*color*/
* {
  box-sizing: border-box;
}
* body {
  margin: 0;
  font-family: 'Lora', serif;
}
* body a {
  text-decoration: none;
  color: #333333;
}
* body #wrapper {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}
* body #wrapper .sticky-nav {
  position: fixed;
}
* body #wrapper .content-margin {
  margin-top: 50px;
}
* body #wrapper .content-wrapper-margin {
  margin-top: 30px;
}
* body #wrapper .hp-menu {
  width: 12.5%;
  float: left;
}
* body #wrapper .hp-menu a div {
  padding: 12px 0;
  border-bottom: 2px solid transparent;
  transition: 0.5s ease;
  width: 0px;
}
* body #wrapper .hp-menu a div:hover {
  border-bottom: 2px solid #e4b9aa;
  width: 130px;
}
* body #wrapper .hp-sub-menu {
  width: 12.5%;
  height: 200px;
  position: static;
  float: right;
}
* body #wrapper .hp-sub-menu .hp-sm-wrapper {
  margin-left: 50px;
}
* body #wrapper .hp-sub-menu .hp-sm-wrapper a:hover {
  color: #e4b9aa;
}
* body #wrapper .hp-main {
  width: 75%;
  margin: 0 12.5%;
}
* body #wrapper .hp-main .content_menu {
  width: 200px;
  font-weight: 100;
  border-bottom: 2px solid #e4b9aa;
}
* body #wrapper .hp-main #header .slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
* body #wrapper .hp-main #header .slideshow-container .slides {
  position: relative;
}
* body #wrapper .hp-main #header .slideshow-container .slide-text {
  color: white;
  margin: auto;
  position: absolute;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 20px;
  backface-visibility: hidden;
}
* body #wrapper .hp-main #header .slideshow-container .slide-text .name {
  text-align: center;
}
* body #wrapper .hp-main #header .slideshow-container .slide-text .name.name1 {
  font-size: 50px;
  font-family: 'Parisienne', cursive;
}
* body #wrapper .hp-main #header .slideshow-container .slide-text .name.name2 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
* body #wrapper .hp-main #works .work-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
* body #wrapper .hp-main #works .work-wrapper .work {
  width: 30%;
  padding: 15px 15px 0 15px;
  margin: 0 10px 20px 10px;
  border: 1px solid #dad7d2;
}
* body #wrapper .hp-main #works .work-wrapper .work img {
  width: 100%;
}
* body #wrapper .hp-main #works .work-wrapper .work p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
* body #wrapper .hp-main #skills .skill-icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
* body #wrapper .hp-main #skills .skill-icon-wrapper .skill-icon {
  padding: 5px 28px 0 28px;
  transition: background-color 0.5s;
}
* body #wrapper .hp-main #skills .skill-icon-wrapper .skill-icon i {
  font-size: 90px;
  color: #2e3d5e;
  text-align: center;
  transition: color .5s;
}
* body #wrapper .hp-main #skills .skill-icon-wrapper .skill-icon p {
  color: #2e3d5e;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding-top: 3px;
  transition: color .5s;
}
* body #wrapper .hp-main #skills .skill-icon-wrapper .skill-icon:hover {
  background-color: #d3e0f4;
}
* body #wrapper .hp-main #skills .skill-icon-wrapper .skill-icon:hover i,
* body #wrapper .hp-main #skills .skill-icon-wrapper .skill-icon:hover p {
  color: #ffffff;
}
* body #wrapper .hp-main #about .intro-text-styling h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #829acd;
  margin-top: 0;
}
* body #wrapper .hp-main #about .intro-text-styling p,
* body #wrapper .hp-main #about .intro-text-styling ul li {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
* body #wrapper .hp-main #about .intro-basis {
  display: flex;
}
* body #wrapper .hp-main #about .intro-basis .intro-basis-sent {
  width: 70%;
  padding-right: 20px;
  border-right: 1px solid #dad7d2;
  display: flex;
  align-items: center;
}
* body #wrapper .hp-main #about .intro-basis .exp-list p,
* body #wrapper .hp-main #about .intro-basis .exp-list ul {
  text-align: right;
}
* body #wrapper .hp-main #about .intro-basis .exp-list p {
  margin-top: 5px;
  padding-left: 20px;
  color: #829acd;
}
* body #wrapper .hp-main #about .intro-basis .exp-list ul {
  padding-left: 30px;
  list-style: none;
  font-size: 14px;
}
* body #wrapper .hp-main #about .intro-basis .exp-list ul li {
  padding-bottom: 3px;
}
* body #wrapper .hp-main #contact .contact-wrapper form .form-content {
  margin-bottom: 7px;
}
* body #wrapper .hp-main #contact .contact-wrapper form .form-content label {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
* body #wrapper .hp-main #contact .contact-wrapper form .form-content input {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  height: 30px;
  border: 1px solid #dad7d2;
}
* body #wrapper .hp-main #contact .contact-wrapper form .form-content textarea {
  border: 1px solid #dad7d2;
}
#footer p {
  background-color: #2e3d5e;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 10px 0;
}
[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  float: left;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-t-1 {
    width: 8.33%;
  }
  .col-t-2 {
    width: 16.66%;
  }
  .col-t-3 {
    width: 25%;
  }
  .col-t-4 {
    width: 33.33%;
  }
  .col-t-5 {
    width: 41.66%;
  }
  .col-t-6 {
    width: 50%;
  }
  .col-t-7 {
    width: 58.33%;
  }
  .col-t-8 {
    width: 66.66%;
  }
  .col-t-9 {
    width: 75%;
  }
  .col-t-10 {
    width: 83.33%;
  }
  .col-t-11 {
    width: 91.66%;
  }
  .col-t-12 {
    width: 100%;
  }
}
