/*typography*/

@fisrt-font: 'Lora', serif;
@second-font: 'Raleway', sans-serif;
@third-font: 'Parisienne', cursive;
@first-font-color: #333;
@second-font-color: #ffffff;
.font-raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}


/*color*/

@first-color: #E4B9AA;
@first-color-lignt: #F0D0BA;
@second-color: #2E3D5E;
@second-color-md-light: #829ACD;
@second-color-light: #D3E0F4;
@third-color: #DAD7D2;
* {
    box-sizing: border-box;
    body {
        margin: 0;
        font-family: @fisrt-font;
        a {
            text-decoration: none;
            color: @first-font-color;
        }
        #wrapper {
            max-width: 1200px;
            margin: auto;
            overflow: hidden;
            .sticky-nav {
                position: fixed;
            }
            .content-margin {
                margin-top: 50px;
            }
            .content-wrapper-margin {
                margin-top: 30px;
            }
            //main menu//
            .hp-menu {
                width: 12.5%;
                float: left;
                a div {
                    padding: 12px 0;
                    border-bottom: 2px solid transparent;
                    transition: 0.5s ease;
                    width: 0px;
                    //hover animation//
                    &:hover {
                        border-bottom: 2px solid @first-color;
                        width: 130px;
                    }
                }
            }
            //sub menu//
            .hp-sub-menu {
                width: 12.5%;
                height: 200px;
                position: static;
                float: right;
                .hp-sm-wrapper {
                    margin-left: 50px;
                    a {
                        &:hover {
                            color: @first-color;
                        }
                    }
                }
            }
            //main//
            .hp-main {
                width: 75%;
                margin: 0 12.5%;
                .content_menu {
                    width: 200px;
                    font-weight: 100;
                    border-bottom: 2px solid @first-color;
                }
                #header {
                    .slideshow-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .slides {
                            position: relative;
                        }
                        .slide-text {
                            color: white;
                            margin: auto;
                            position: absolute;
                            border-top: 1px solid #ffffff;
                            border-bottom: 1px solid #ffffff;
                            padding: 20px;
                            backface-visibility: hidden;
                            .name {
                                text-align: center;
                                &.name1 {
                                    font-size: 50px;
                                    // .font-raleway
                                    font-family: @third-font;
                                }
                                &.name2 {
                                    font-size: 30px;
                                    .font-raleway
                                }
                            }
                        }
                    }
                }
                #works {
                    .work-wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        .work {
                            width: 30%;
                            padding: 15px 15px 0 15px;
                            margin: 0 10px 20px 10px;
                            border: 1px solid @third-color;
                            img {
                                width: 100%;
                            }
                            p {
                                .font-raleway;
                            }
                        }
                    }
                }
                #skills {
                    .skill-icon-wrapper {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        .skill-icon {
                            padding: 5px 28px 0 28px;
                            transition: background-color .5s;
                            i {
                                font-size: 90px;
                                color: @second-color;
                                text-align: center;
                                transition: color .5s;
                            }
                            p {
                                color: @second-color;
                                text-align: center;
                                .font-raleway;
                                padding-top: 3px;
                                transition: color .5s;
                            }
                            &:hover {
                                background-color: @second-color-light;
                                i, p {
                                    color: @second-font-color;
                                }
                            }
                        }
                    }
                }
                #about {
                    .intro-text-styling {
                        h3 {
                            .font-raleway;
                            color: @second-color-md-light;
                            margin-top: 0;
                        }
                        p, ul li {
                            .font-raleway;
                        }
                    }
                    .intro-basis {
                        display: flex;
                        .intro-basis-sent {
                            width: 70%;
                            padding-right: 20px;
                            border-right: 1px solid @third-color;
                            display: flex;
                            align-items: center;
                        }
                        .exp-list {
                            p, ul {
                                text-align: right;
                            }
                            p {
                                margin-top: 5px;
                                padding-left: 20px;
                                color: @second-color-md-light;
                            }
                            ul {
                                padding-left: 30px;
                                list-style: none;
                                font-size: 14px;
                                li {
                                    padding-bottom: 3px;
                                }
                            }
                        }
                    }
                }
                #contact {
                    .contact-wrapper {
                        form {
                            .form-content {
                                margin-bottom: 7px;
                                label {
                                    .font-raleway;
                                    // float: left;
                                    // text-align: right;
                                    // margin-right: 15px;
                                    // width: 100px;
                                    // padding-top: 5px;
                                }
                                input {
                                    .font-raleway;
                                    height: 30px;
                                    border: 1px solid @third-color;
                                    // clear: both;
                                }
                                textarea {
                                    border: 1px solid @third-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer {
    p {
        background-color: @second-color;
        text-align: center;
        color: @second-font-color;
        margin: 0;
        padding: 10px 0;
    }
}

[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    float: left;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-t-1 {
        width: 8.33%;
    }
    .col-t-2 {
        width: 16.66%;
    }
    .col-t-3 {
        width: 25%;
    }
    .col-t-4 {
        width: 33.33%;
    }
    .col-t-5 {
        width: 41.66%;
    }
    .col-t-6 {
        width: 50%;
    }
    .col-t-7 {
        width: 58.33%;
    }
    .col-t-8 {
        width: 66.66%;
    }
    .col-t-9 {
        width: 75%;
    }
    .col-t-10 {
        width: 83.33%;
    }
    .col-t-11 {
        width: 91.66%;
    }
    .col-t-12 {
        width: 100%;
    }
}